{{!-- <!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>

</html> --}}

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f8f8;
            margin: 0;
            padding: 20px;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>
