{{!-- <!DOCTYPE html>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <h1>Error fetching news</h1>
    <p>Something went wrong while fetching news. Please try again later.</p>
</body>

</html> --}}

<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f8f8;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #FF0000;
        }

        p {
            color: #555;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Error fetching news</h1>
    <p>Something went wrong while fetching news. Please try again later.</p>
</body>

</html>

